<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddNewItem(editShoppingListItemForm)" #editShoppingListItemForm="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input ngModel
                 type="text"
                 id="name"
                 name="name"
                 class="form-control"
                 required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input ngModel
                 type="number"
                 id="amount"
                 name="amount"
                 class="form-control"
                 required
                 pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success"
                  type="submit" [disabled]="!editShoppingListItemForm.valid">
            {{ editMode ? 'Update' : 'Add' }}
          </button>
          <button class="btn btn-danger"
                  [ngClass]="{ disabled : !editedItem }"
                  type="button" (click)="onDelete()">
            Delete
          </button>
          <button class="btn btn-primary"
                  type="button"
                  (click)="onClear()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

